footer{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #3d1a9a;
}
footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
}
footer span{
    font-size: 40px;
    position: absolute;
    margin-top: -18px;
    margin-left: -50px;

}


@media(max-width:1000px) {
    footer{
        text-align: center;
        display: block;
        position: relative;
        width: 100%;
        background: #3d1a9a;
    }
    
}

